body{
  background-image: url(music-notes-shadowabstract-musical-background-260nw-125978510.webp);
}
p { 
    text-align:center;
     font-size: 20px;
     color:gray;
}
h1 { 
    text-align: center;
      font-size: 30px;
      color:darkgrey;
}
